<h1>Se connecter</h1>
<form class="login-form" action="">
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-at"></i>
        </p-inputGroupAddon>
        <input type="email" pInputText placeholder="Email" />
    </p-inputGroup>
    
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-key"></i>
        </p-inputGroupAddon>
        <input type="password" pInputText placeholder="Mot de passe" />
    </p-inputGroup>
    <div class="btn">
        <p-button (onClick)="login()" severity="success">Se connecter</p-button>
        <p-button (onClick)="closeDialog()" severity="danger">Retour</p-button>
    </div>


</form>