<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end">
 
        <div class="auth">
            @if (isAdmin) {
                <p-button routerLink="/admin" severity="success" size="small" pRipple label="Pannel admin" class="p-button-success">
                    <ng-icon size="1em" [svg]="loginIcon"/>
                </p-button>
            }
            @if (isLogged) {
                <p-button (onClick)="logout()" severity="danger" size="small" pRipple label="Se Déconnecter" class="p-button-success">
                </p-button>
            } @else {
                <p-button (onClick)="openLoginModal(true)" severity="success" size="small" pRipple label="Se connecter" class="p-button-success">
                    <ng-icon size="1em" [svg]="loginIcon"/>
                </p-button>  
                <p-button routerLink="/register" severity="success" size="small" pRipple label="Créer un compte" class="p-button-success">
                    <ng-icon size="1em" [svg]="registerIcon"/>
                </p-button> 
            }

        </div>

    </ng-template>
</p-menubar>
