<section class="card flex justify-content-center w-9 m-auto mt-6">
  @if (shoe) {
  <p-card class="p-6 box-shadow" [style]="{ width: '500px' }">
    <ng-template class="box-shadow" pTemplate="header">
      <img alt="Card" [src]="img_url + '/images/' + shoe.image" />
      <div class="flex flex-row justify-content-center">
        <p-fileUpload
          [customUpload]="true"
          mode="basic"
          name="file"
          accept="image/*"
          (uploadHandler)="onChange($event)"
          [auto]="true"
          chooseLabel="Changer l'image"
        ></p-fileUpload>

        <p-button
          (onClick)="signalEdit()"
          routerLink="/admin/articles/details/{{ shoe.productId }}/edit"
          [style]="{ fontWeight: '700' }"
          class="flex justify-content-center ml-3"
          >Editer le produit</p-button
        >
      </div>

      <h2 class="ml-3">{{ shoe.modelName }}</h2>
      <h3 class="ml-3">{{ shoe.price | currency : "EUR" }}</h3>
      <p class="ml-3">{{ shoe.description }}</p>
    </ng-template>

    <p-divider></p-divider>

    <p-accordion>
      <p-accordionTab #showStock header="Stock">
        @defer (on interaction(showStock)) {
        <div>
          @if (shoe.sizes.length > 0) { @for (size of shoe.sizes; track size) {
          <div class="flex flex-row justify-content-around align-items-center">
            <p class="flex-grow-1">
              Taille {{ size.size }} | Stock {{ size.stock }}
            </p>
            <i
              (click)="onEdit(true, size.stock, size.sizeId)"
              class="pi pi-pencil mr-3"
            ></i>
            <i
              (click)="confirmDelete($event, size.sizeId)"
              class="pi pi-delete-left flex-grow-0"
            ></i>
          </div>
          }
          <p-button
            class="block mb-3"
            (onClick)="openNewSizeField()"
            severity="success"
            size="small"
            [rounded]="true"
            >Ajouter une taille</p-button
          >

          @if (newSizeFieldOpen) {
            <form action="POST" class="flex flex-row align-items-center justify-content-center">
              <div class="flex flex-column">
                <p-dropdown [options]="sizes()" optionLabel="size" [showClear]="true" placeholder="Taille"></p-dropdown>
              </div>
              <div class="flex flex-column">
                <p-floatLabel>
                  <p-inputNumber [inputStyle]="{width:'100px'}" />
                  <label for="stock">Stock</label>
                </p-floatLabel>
              </div>
            <i class="pi pi-check ml-3" style="font-size: 1.5rem" color="green"></i>
            </form>
          } @if (edit) {
          <div class="flex flex-row align-items-center">
            <p-inputNumber
              [formControl]="sizeStock"
              class="mr-3"
              type="number"
            ></p-inputNumber>
            <i
              (click)="handleEditStock()"
              class="pi pi-check"
              style="font-size: 1.5rem"
              color="green"
            ></i>
          </div>
          } } @else {
          <p>Aucun stock disponible</p>
          }
          <p-toast position="bottom-center" key="confirmUpdated"></p-toast>
          <p-confirmDialog [closeOnEscape]="true"></p-confirmDialog>
        </div>

        } @placeholder {
        <p>Chargement ...</p>
        }
      </p-accordionTab>
      <p-accordionTab #showCategory header="Catégories">
        @defer (on interaction(showCategory)) {
        <div>
          @if (shoe.categories.length > 0) { @for (category of shoe.categories;
          track category) {
          <div class="flex flex-row justify-content-around align-items-center">
            <p class="flex-grow-1">{{ category.categoryName }}</p>

            <i class="pi pi-delete-left flex-grow-0"></i>
          </div>
          }
          <p-button
            class="block mb-3"
            (onClick)="openNewCategoryField()"
            severity="success"
            size="small"
            [rounded]="true"
            >Ajouter une catégorie</p-button
          >
          @if (newCategoryFieldOpen) {
          <input
            placeholder="Nouvelle catégorie"
            type="text"
            pInputText
            [formControl]="newCategory"
          />
          <i
            class="pi pi-check ml-3"
            style="font-size: 1.5rem"
            color="green"
          ></i>
          } } @else {
          <p>Aucune catégorie disponible</p>
          }
        </div>
        } @placeholder {
        <p>Chargement ...</p>
        }
      </p-accordionTab>
    </p-accordion>
  </p-card>

  }
</section>
